---
import Layout from "../layouts/Layout.astro";
import Exp from "../components/Exp.astro";
import Project from "../components/Project.astro";
var darkMode = false;
---

<Layout title="Shashank Reddy Banda">
  <div class="main-section">
    <h1 class="hi">Hi,👋🏻</h1>
    <p class="hero-text">
      I'm <span class="sha">Shashank</span>, I'm a software engineer with over
      3+ years of experience
    </p>
  </div>
  <Exp />
  <Project />
</Layout>

<style>
  .main-section {
    display: flex;
    padding: var(--hero-top-padding, 8rem) min(var(--main-padding, 8rem), 8vw);
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .hi {
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
  }
  .sha {
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: 700;
    letter-spacing: 0.062em;
    text-align: left;
    background: linear-gradient(163deg, #225dba 0%, #f40076 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hero-text {
    padding: 0;
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: 100;
    letter-spacing: 0.186rem;
    margin: 0;
  }
</style>
