---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Shashank Reddy Banda">
	<main>
	<div>
	<div class='logo-box'>
		<span class = 'logo'>S</span>
	</div>
	</div>
	<div class='main-section'>
		<h1 class='hi'>Hi,👋🏻</h1>
		<p class='hero-text'> I'm <span class='sha'>Shashank</span>, I'm a software engineer with over 3+ years of experience</p>
	</div>
	<div class='exp'>
		<div class='time-line'>A B C D</div>
	</div>
	</main>
</Layout>

<style>
	main {
		padding: 5rem;
		color: #D5E4FA;
	}
	h1 {
		font-size: 80px;
		font-weight: 800;
		margin: 0;
	}
	.logo{
		width: 100px;
		height: 100px;
		font-size: 80px;
		font-weight: 900;
		color: #225DBA;
		margin-left: 25px;
	}
	.logo-box{
		border: 8px solid #F40076;
		border-radius: 5px;
	}
	div{
		margin: 0;
		padding: 0;
		width: 100px;
	}
	.main-section{
		padding-top: 200px;
		width: 100%;
	}
	.sha{
		font-size: 60px;
		font-weight: 700;
		line-height: 75px;
		letter-spacing: 0.062em;
		text-align: left;
		color: #225DBA;
	}
	.hero-text{
		font-size: 60px;
		font-weight: 100;
		line-height: 75px;
		letter-spacing: 0.062em;
		text-align: left;
		margin: 0;
	}
	.exp{
		pading-top: 200px;
	}
	.time-line{
		width: 100%;
		background: #F40076;
	}
</style>
