<div class="nav">
  <div class="icon">
    s
  </div>
  <div class="link git"></div>
  <div class="link linkedin"></div>
  <div class="link behance"></div>
</div>

<div class="hero container">
  <div class="title">
    Shashank Reddy Banda
  </div>
  <div class="caption">
    fullstack developer
  </div>
</div>

<div class="skills">
  <div class="head container">
    skills
  </div>
  <div class="skill-list container">
    <div class="skill"><img src="./assets/Django.png" width="200"></div>                   
    <div class="skill"><img src="./assets/Angular (1).png" alt="" width="200"></div>               
    <div class="skill"><img src="./assets/Angular.png" alt="" width="200"></div>                    
    <div class="skill"><img src="./assets/icons8-java-96.png" alt="" width="200"></div>           
    <div class="skill"><img src="./assets/icons8-python-480.png" alt="" width="200"></div>         
    <div class="skill"><img src="./assets/icons8-javascript-480.png" alt="" width="200"></div>        
    <div class="skill"><img src="./assets/icons8-html-480.png" alt="" width="200"></div>            
    <div class="skill"><img src="./assets/icons8-css-480.png" alt="" width="200"></div>             
    <div class="skill"><img src="./assets/Aws.png" alt="" width="200"></div>                       
  </div>
</div>

<div class="footer">
  <div class="footer-list container">
    <div class="mail">MAIL ID: shashank24140544@gmial.com</div>
    <div class="cell">CELL: 8897343440</div>
  </div>
</div>
