---
import QRCode from "../../public/images/QRCode.png";
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class="project">
  <img src={QRCode} />
  <div class="project-content">
    <p class="project-title">{title}</p>
    <p class="project-description">{body}</p>
    <div class="project-lables">
      <p class="project-lable">{href}</p>
      <p class="project-lable">test</p>
    </div>
  </div>
</li>

<style>
  .project {
    display: flex;
    padding: 2.4375rem 3.125rem;
    align-items: flex-start;
    gap: 3rem;
    flex: 1 0 0;
    border-radius: 1rem;
    border: 2px solid var(--project-main-primary-200, #3469ba);
    margin: 0;
  }
  .project-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    align-self: stretch;
  }
  .project-title {
    color: var(--project-main-primary-200, #3469ba);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.625rem; /* 108.333% */
    letter-spacing: 0.093rem;
    margin: 0%;
  }
  .project-description {
    color: var(--project-main-primary-200, #3469ba);
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.21875rem; /* 121.875% */
    letter-spacing: 0.062rem;
    margin: 0%;
  }
  .project-lables {
    margin: 0;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .project-lable {
    margin: 0;
    display: flex;
    padding: 0.125rem 0.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.25rem;
    background: rgba(56, 136, 253, 0.2);
    color: var(--project-main-primary-200, #3469ba);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.875rem; /* 116.667% */
    letter-spacing: 0.009rem;
  }
  @media screen and (max-width: 1200px) {
    .project {
      align-items: center;
      flex-direction: column;
      align-self: center;
    }
  }
</style>
