<div class="exp">
  <h1 class="exp-title">Work Experience</h1>
  <table>
    <tbody class="exp-list">
      <tr>
        <td class="tg-0lax">June 2023- present</td>
        <td>
          <p class="exp-lst-title">Graduate Peer Career Coach</p>
          <p class="exp-company">Arizona State University, Tempe, AZ</p>
          <p class="exp-desc">
            Mentored graduate and undergraduate students in interview
            preparations and conducted mock interviews
          </p>
        </td>
      </tr>
      <tr>
        <td class="tg-0lax">Jan 2022- Dec 2022</td>
        <td>
          <p class="exp-lst-title">Software Engineer</p>
          <p class="exp-company">ServiceNow, Hyderabad, India</p>
          <p class="exp-desc">
            Was part of the ITSM team which was a core product of the company. Responsible for developing new and maintaing existing applications.
          </p>
        </td>
      </tr>
      <tr>
        <td class="tg-0lax">July 2020- Jan 2022</td>
        <td>
          <p class="exp-lst-title">Associate Software Engineer</p>
          <p class="exp-company">ServiceNow, Hyderabad, India</p>
          <p class="exp-desc">
            Worked on stories and mantaining existing applications. Wrote unit tests to automate the testing of existing applications.
          </p>
        </td>
      </tr>
      <tr>
        <td class="tg-0lax">June 2019- June2020</td>
        <td>
          <p class="exp-lst-title">Software Development Intern</p>
          <p class="exp-company">ServiceNow, Hyderabad, India</p>
          <p class="exp-desc">
            Worked on intresting projects like recommendation systems and setiment analysis to make existing applications more efficient.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<style>
  .exp {
    display: flex;
    padding: min(var(--main-padding, 8rem), 8vw);
    flex-direction: column;
    align-items: flex-start;
    gap: 3.3125rem;
    align-self: stretch;
  }
  .exp-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    align-self: stretch;
  }
  .exp-title {
    color: var(--project-main-secondary-500, #db006a);
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 0.4rem;
  }
  .tg-0lax {
    text-align: left;
    vertical-align: top;
    color: var(--project-main-primary-200, #3469ba);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: 300px;
    margin: 0%;
  }
  p {
    margin: 0;
  }
  .exp-lst-title {
    color: #fff;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.12rem;
  }
  .exp-company {
    color: var(--project-main-primary-200, #3469ba);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.12rem;
  }
  .exp-desc {
    color: var(--project-main-light-500, #d5e4fa);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem; /* 156.25% */
    letter-spacing: 0.08rem;
    margin: 0%;
  }
  @media screen and (max-width: 1200px) {
    tr {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .exp-title {
      font-size: 3.5rem;
      letter-spacing: 0.4rem;
    }
  }
</style>
