<div class="footer">
  <div class="footer-content">
    <p class="footer-text">
      There is nothing here useful for you, unless you have a job offer for me
      in which case we need to talk
    </p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="233"
      height="233"
      viewBox="0 0 233 233"
      fill="none"
      class="circle"
    >
      <circle cx="116.5" cy="116.5" r="116.5" fill="#FB5EAA"></circle>
    </svg>
  </div>
  <div class="links">
    <div class="title">Links</div>
    <div class="links-list">
      <a
        href="https://twitter.com/shashan99964856"
        class="link"
        target="_blank"
      >
        <p class="link-text">Twitter</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="41"
          viewBox="0 0 40 41"
          fill="none"
        >
          <path
            d="M11.6666 28.8334L28.3333 12.1667"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M11.6666 12.1667H28.3333V28.8334"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
      <a
        href="https://github.com/shashankreddybanda"
        class="link"
        target="_blank"
      >
        <p class="link-text">GitHub</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="41"
          viewBox="0 0 40 41"
          fill="none"
        >
          <path
            d="M11.6666 28.8334L28.3333 12.1667"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M11.6666 12.1667H28.3333V28.8334"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
      <a href="https://www.linkedin.com/in/sb183/" class="link" target="_blank">
        <p class="link-text">LinkedIn</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="41"
          viewBox="0 0 40 41"
          fill="none"
        >
          <path
            d="M11.6666 28.8334L28.3333 12.1667"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M11.6666 12.1667H28.3333V28.8334"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
      <a href="mailto:shashank24140544@gmail.com" class="link" target="_blank">
        <p class="link-text">Mail</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="41"
          viewBox="0 0 40 41"
          fill="none"
        >
          <path
            d="M11.6666 28.8334L28.3333 12.1667"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M11.6666 12.1667H28.3333V28.8334"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
    </div>
  </div>
</div>
<style>
  .footer {
    display: flex;
    min-height: 36.5625rem;
    padding: 4rem min(var(--main-padding, 8rem), 8vw);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    background: var(--project-main-secondary-500, #db006a);
    margin: 0%;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }
  .footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--project-main-secondary-200, #fb5eaa);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: 2.6875rem; /* 119.444% */
    letter-spacing: 0.027rem;
    padding-right: 50%;
  }
  .circle {

  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .title {
    color: var(--project-main-secondary-200, #fb5eaa);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: 2.6875rem; /* 119.444% */
    letter-spacing: 0.027rem;
    margin: 0%;
  }
  .links-list {
    display: flex;
    align-items: flex-start;
    gap: 4.75rem;
    margin: 0%;
  }
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.25rem;
  }
  .link-text {
    color: var(--project-main-secondary-100, #ffdaec);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6875rem; /* 179.167% */
    letter-spacing: 0.018rem;
    margin: 0%;
  }
  @media screen and (max-width: 1200px) {
    .footer {
      height: auto;
      gap: 100px;
    }
    .circle {
      display: none;
    }
    .links-list {
      flex-direction: column;
      gap: 0.5rem;
    }
    .footer-text {
    padding-right: 0px;
  }
  }
</style>
