<table class="tg">
  <colgroup>
    <col style="width: auto" />
    <col style="width: auto" />
    <col style="width: 500px" />
    <col style="width: auto" />
    <col style="width: auto" />
  </colgroup>
  <thead>
    <tr>
      <th class="tg-0pky">Year</th>
      <th class="tg-0pky">Project</th>
      <th class="tg-0lax">Description</th>
      <th class="tg-0lax">Tech</th>
      <th class="tg-0lax">Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="year">2023</td>
      <td class="project-title">WaitList</td>
      <td class="description"
        >An application for users to check-in digitally and recive notification
        for theri turn</td
      >
      <td class="tags">test, test</td>
      <td class="tg-0lax"><a href="https://www.google.com" target="_blank">Google.com</a></td>
    </tr>
  </tbody>
</table>
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th {
    text-align: left;
    padding: 20px;
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem; /* 100% */
    letter-spacing: 0.012rem;
  }
  td {
    border-top: 1px solid rgba(219, 0, 106, 0.6);
    padding: 20px;
  }
  .year {
    color: #fff;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 200;
    line-height: 1rem; /* 114.286% */
    letter-spacing: 0.0105rem;
  }
  .project-title {
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem; /* 100% */
    letter-spacing: 0.012rem;
  }
  a {
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 100% */
    letter-spacing: 0.012rem;
  }
</style>
